/* some style */

.translation-ctrls {
    padding-top: 1em;
    width: 100%;
}

.translation-ctrls {
    margin: 0 auto;
    display: block;

    width: 33%;
}

.source-header {
    margin-bottom: 0.5em;
}
.source-header .badge {
    background: #e74c3c;
    cursor: default;
}

.source-title {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 0.5em;
}

.footer {
    margin-top: 2em; 
    font-size: 12px;
    color: #7b8a8b;;
}

.footer ul {
    margin-left: 0;
    padding-left: 0;
}

.footer li {
    list-style: none;
}
